<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="html">
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor.css') }}">
</head>

<body>
    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>01</h2>
                    <a href="my-profile-doctor" target="_blank"> My profile </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>02</h2>
                    <a href="add-my-schedule" target="_blank"> My Schedule </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>03</h2>
                    <a href="my-schedual" target="_blank"> My appointments </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>04</h2>
                    <a href="change-password" target="_blank"> change password </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>05</h2>
                    <a href="logout" target="_self"> Logout </a>
                </div>
            </div>
        </div>
    </div>



    <br>




</body>