<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="html">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
</head>

<body>
    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>01</h2>
                    <a href="my-profile-patient" target="_blank"> My profile </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>02</h2>
                    <a href="book-appointment" target="_blank"> Book appointment </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>03</h2>
                    <a href="my-appointment" target="_blank"> My appointment </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>04</h2>
                    <a href="received-services" target="_blank"> Received services </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!--<div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>05</h2>
                    <a href="services-price-list" target="_blank"> Services-Price-list </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>06</h2>
                    <a href="Total-Payments" target="_blank"> Total-Payments </a>
                </div>
            </div>
        </div>
    </div>-->

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>05</h2>
                    <a href="change-password" target="_blank"> change password </a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4">
                    <h2>06</h2>
                    <a href="logout" target="_self"> Logout </a>

                </div>
            </div>
        </div>
    </div>



</body>