<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="{{ url_for('static', filename='registered.css') }}">

</head>

<body>

    <div class="a1">
        <img class="im1" src="/static/registered.png">
        <br>
        Thank You <br> You have successfully registered! <br>
        <br>
        <button class="b1" type="submit" onclick="location.href = 'https://aqueous-tundra-43725.herokuapp.com/login';">
            login</button>

    </div>

</body>

</html>