<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='confirmation.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

</head>

<body>
    <div class="con">
        <center>
            <h2>An Email Has Been Sent To You </h2>
            <h4>Check The Spam Folder</h4>
        </center>
    </div>
</body>

</html>