<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="html">
    <link rel="stylesheet" href="{{ url_for('static', filename='token_expired.css') }}">
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <div class="sign-in-form">
                    <h2 class="title">Sorry, your token expired!
                    </h2>
                    <h3 class="title2"> you 'll need to reset password again!</h3>

                    <button class="btn solid" type="submit"
                        onclick="location.href = 'https://aqueous-tundra-43725.herokuapp.com/forget-password';">
                        reset</button>


                </div>
            </div>
        </div>


    </div>

</body>