*
{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(245, 245, 245, 0.459);
  overflow: hidden;
   width: 100%;
    padding: 40px 0px 40px 0px;
  }

  .container {
   padding: 0px;
    margin: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px 6px black;
    -webkit-box-shadow: 0px 8px 20px 6px black;
    max-width: 98%;
    min-width: 98%;
  }
  
  .my-appointment {
  padding-top: 30px;
   text-align: center;
   
  }
  table {
      border-collapse: collapse;
      width: 100%;
      
  }
  
  th, td {
      text-align: center;
      padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
      background-color: #5995fd;
      color: white;
      
  }
  
  .myt{
   
    overflow-y: scroll;
    height: 500px;
  margin: 5px;
  }
  
  .myt th{
      position: sticky;
     top:0;
  }
  label{
  font-size: 25px;
  left: 0;
  padding-left: 10px;
  }
  input{
   border: none;
    font-size: 20px;
        background-color: #FFFFFF;

  }
  @media (max-width: 580px) {
body{
  width: 100%;
  overflow-y:auto;
 overflow-x:  hidden;

  }
 .container{
  margin: 0px;
   padding: 4px;
  max-width: 97%;
    min-width: 97%;
    }
  .container table thead {
  }
.myt {
    overflow-y: scroll;
    height: 500px;
  }
  
  .container myt th {
      position: sticky;
     top: 0;
  }
  .container table td {
    
  }

  .container table td::before {
    font-weight: bold;
  }
  label{
  font-size: 15px;
  padding-left: 25%;
  }
  input{
   border: none;
    font-size: 10px;
    background-color: #FFFFFF;
  }
 
}
}